/* -------------- 
   Global Setting
   -------------- */
   @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
   *{
    font-family: "montserrat", sans-serif ;
    font-size: 62.5%;

}

html{
    background: #000000;   
    padding: 0rem 2rem;
}

/* -------- 
   Homepage
   -------- */
/* -----------------
   Navigation Banner
   ----------------- */

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;

}

.sticky{
    position: sticky;
    top: 0;
}

.nav-bar a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.7rem;
    color: #D4AF37;
    padding: 2rem 1rem;
    font-weight: 300;
}

.nav-bar a:hover{
    color: #888888;
}

.logo{
    width: 10rem;
}
/* ------------
   Hero Section
   ------------ */

.hero{
    color: #ffffff;
    height: 89vh;  
    display: flex;
    align-items: center;

}

.hero-background{
    background:  #000000;

}

.hero-card{
    width: 45%;
    font-weight: 900;

}

.small-hero-header{
    font-size: 1.6rem;
    font-weight: 300;
    color: #D4AF37;
    text-transform: uppercase;
}

.big-hero-header{
    
    font-size: 3.2rem;
    text-transform: uppercase;
    font-weight: 400;
}

.hero-text{
    font-size: 2rem;
    font-weight: 400;
    color: #828282;
    padding: 2rem 0rem;
}

.hero-button{
    background: #1ab152;
    padding: 2rem 0rem;
    border-radius: 3rem;
    border: 0px solid;

}

.hero-button a{
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    padding: 2rem 8rem;
}

.hero-button:hover{
    background: #000000;
    border: 0.1rem solid #ffffff;

}


/* ------------------
   Technology Section
   ------------------ */
.projects-page{
    height: 100vh;
    padding-top: 6rem;
}

.tech-used-container{
    background: #D4AF37;
    border-radius: 5rem;
    padding: 0.5rem 0rem;
}
.small-tech-header{
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}

.top-row-tech{
    display: flex;
    justify-content: space-between;
}

.second-row-tech{
    display: flex;
    justify-content: space-evenly;

}

.tech-img{
    width: 20rem;   
}

/* ---------------
   Project Section
   --------------- */
   
   .projects-heading{
    font-size: 3.2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-top: 3rem;
  }
  
  .carousel-wrapper {
    height: 400px;
    position: relative;
    width: 800px;
    display: block;
    margin: 50px auto ;
    border: 2px solid black;
  }
  
  .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
  }
  .arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  
  }
  .arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  
  [id^= "item"] {
    display: none;
  }

  .hide{
    display: none;
  }

  .item-1 {
    z-index: 2;
    opacity: 1;
    background: url("img/movies.png");
    background-size: cover;
  }
  .item-2 {
    background: url("img/weather.png");
    background-size: cover;
  }
  .item-3 {
    background: url("img/calculator.png");
    background-size: cover;
  }

  .item-1:hover {
    background: #9d8228;

  }

  .item-1:hover .hide{
    display: block;
  }

  .item-2:hover {
    background: #9d8228;

  }

  .item-2:hover .hide{
    display: block;
  }

  .item-3:hover {
    background: #9d8228;

  }

  .item-3:hover .hide{
    display: block;
  }

  .hover-items{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    
  }

  .project-header{
    margin-top: 10rem;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 500;
    font-family: "montserrat", sans-serif ;
  }

  .buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    
  }


  
  .source-code{
    background: #000000;
    padding: 2rem 0rem;
    border-radius: 3rem;
    border: 0px solid;
}

.source-code a{
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #9d8228;
    font-weight: 400;
    padding: 2rem 6rem;
}

.source-code:hover{
    background: #000000;
    border: 0.1rem solid #ffffff;

}


  .live-preview{
    background: #000000;
    padding: 2rem 0rem;
    border-radius: 3rem;
    border: 0px solid;

}

.live-preview a{
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #9d8228;
    font-weight: 400;
    padding: 2rem 6rem;
}

.live-preview:hover{
    background: #000000;
    border: 0.1rem solid #ffffff;

}


  
  *:target ~ .item-1{
    opacity: 0;
  }
  #item-1:target ~ .item-1 {
    opacity: 1;
  
  }
  #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  }

/* ---------------
   Contact Section
   --------------- */

.contact-form-section{
    height: 93.75vh;
    background: #000000;
}



/*  -------------
    Thankyou Page
    ------------- */
  .thankyou-page{
    font-size: 3.2rem;
    text-align: center;
    align-content: center;
    padding: 46% 0;
  }

  .thankyou-heading{
    color: #D4AF37;
    text-transform: uppercase;

  }
  .thankyou-text{
    color: #ffffff;
  }